extends layout

block styles
    

block content
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard
    h1 this is dashboard