doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Boxer - Software Landing Page
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content)
    meta(name='description' content)
    link(rel='stylesheet' href='css/animate.min.css')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='css/templatemo-style.css')
  body
    .preloader
      .sk-spinner.sk-spinner-rotating-plane
    nav.navbar.navbar-default.navbar-fixed-top.templatemo-nav(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse' data-target='.navbar-collapse')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
          a.navbar-brand(href='#') CNC GOSTAR
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.text-uppercase
            li
              a(href='#home') تماس باما
            li
              a(href='#feature') نمونه کارها
            li
              a(href='#pricing') خدمات
            li
              a(href='#download') درباره ما
            li
              a(href='#contact') خانه
    section#home
      .overlay
        .container
          .row
            .col-md-1
            .col-md-10.wow.fadeIn(data-wow-delay='0.3s')
              h1.text-upper CNC گستر
              p.tm-white
                |مجموعه CNC گستر در سال  1374 با هدف  طراحی و ساخت انواع قطعات صنعتی نظامی، مخابراتی، پتروشیمی، قالب سازی، جیگ و فیکسچر و... آغاز به کار نمود و اینک  پس از گذشت 28 سال و انجام پروژه های متعدد و متنوع یکی از مجریان توانمند وشناخته شده درعرصه صنعت می باشد.
                a(rel='nofollow' href='http://www.facebook.com/templatemo' target='_parent') templatemo
                | . Images by 
                a(rel='nofollow' href='http://pixabay.com' target='_blank') Pixabay
              img.img-responsive(src='/img/software-img.png' alt='home img')
            .col-md-1
    section#divider
      .container
        .row
          .col-md-4.wow.fadeInUp.templatemo-box(data-wow-delay='0.3s')
            i.fa.fa-laptop
            h3.text-uppercase RESPONSIVE LAYOUT
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          .col-md-4.wow.fadeInUp.templatemo-box(data-wow-delay='0.3s')
            i.fa.fa-twitter
            h3.text-uppercase BOOTSTRAP 3.3.4
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          .col-md-4.wow.fadeInUp.templatemo-box(data-wow-delay='0.3s')
            i.fa.fa-font
            h3.text-uppercase GOOGLE FONT
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    section#feature
      .container
        .row
          .col-md-6.wow.fadeInLeft(data-wow-delay='0.6s')
            h2.text-uppercase Our Software Features
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p
              span
                i.fa.fa-mobile
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p
              i.fa.fa-code
              | Quis autem velis reprehenderit et quis voluptate velit esse quam.
          .col-md-6.wow.fadeInRight(data-wow-delay='0.6s')
            img.img-responsive(src='/img/software-img.png' alt='feature img')
    section#feature1
      .container
        .row
          .col-md-6.wow.fadeInUp(data-wow-delay='0.6s')
            img.img-responsive(src='/img/software-img.png' alt='feature img')
          .col-md-6.wow.fadeInUp(data-wow-delay='0.6s')
            h2.text-uppercase More of Your Software
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p
              span
                i.fa.fa-mobile
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p
              i.fa.fa-code
              | Quis autem velis reprehenderit et quis voluptate velit esse quam.
    section#pricing
      .container
        .row
          .col-md-12.wow.bounceIn
            h2.text-uppercase Our Pricing
          .col-md-4.wow.fadeIn(data-wow-delay='0.6s')
            .pricing.text-uppercase
              .pricing-title
                h4 Basic Plan
                p $11
                small.text-lowercase monthly
              ul
                li 6 GB Space
                li 600 GB Bandwidth
                li 60 More Themes
                li Lifetime Support
              button.btn.btn-primary.text-uppercase Sign up
          .col-md-4.wow.fadeIn(data-wow-delay='0.6s')
            .pricing.active.text-uppercase
              .pricing-title
                h4 Business Plan
                p $22
                small.text-lowercase monthly
              ul
                li 15 GB space
                li 1,500 GB Bandwidth
                li 150 More Themes
                li Lifetime Support
              button.btn.btn-primary.text-uppercase Sign up
          .col-md-4.wow.fadeIn(data-wow-delay='0.6s')
            .pricing.text-uppercase
              .pricing-title
                h4 Pro Plan
                p $33
                small.text-lowercase monthly
              ul
                li 35 GB space
                li 3,500 GB bandwidth
                li 350 more themes
                li Lifetime Support
              button.btn.btn-primary.text-uppercase Sign Up
    section#download
      .container
        .row
          .col-md-6.wow.fadeInLeft(data-wow-delay='0.6s')
            h2.text-uppercase Download Our Software
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            button.btn.btn-primary.text-uppercase
              i.fa.fa-download
              |  Download
          .col-md-6.wow.fadeInRight(data-wow-delay='0.6s')
            img.img-responsive(src='/img/software-img.png' alt='feature img')
    section#contact
      .overlay
        .container
          .row
            .col-md-6.wow.fadeInUp(data-wow-delay='0.6s')
              h2.text-uppercase Contact Us
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              address
                p
                  i.fa.fa-map-marker
                  | 36 Street Name, City Name, United States
                p
                  i.fa.fa-phone
                  |  010-010-0110 or 020-020-0220
                p
                  i.fa.fa-envelope-o
                  |  info@company.com
            .col-md-6.wow.fadeInUp(data-wow-delay='0.6s')
              .contact-form
                form(action='#' method='post')
                  .col-md-6
                    input.form-control(type='text' placeholder='Name')
                  .col-md-6
                    input.form-control(type='email' placeholder='Email')
                  .col-md-12
                    input.form-control(type='text' placeholder='Subject')
                  .col-md-12
                    textarea.form-control(placeholder='Message' rows='4')
                  .col-md-8
                    input.form-control.text-uppercase(type='submit' value='Send')
    footer
      .container
        .row
          p Copyright © 2084 Your Company Name
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/wow.min.js')
    script(src='js/jquery.singlePageNav.min.js')
    script(src='js/custom.js')
